[Unit]
Description=Auto Paging Log Generator

[Service]
TimeoutStartSec=0
ExecStart=/home/tdc/Documents/ftrace/5_autotest/script/multiRun.py

[Install]
WantedBy=multi-user.target
